<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ area.name }}</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
    </head>
    <body>
        <header>
            <nav class="primary-header">
                <ul>
                    <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                    --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                </ul>
            </nav>
        </header>
        <h5>{{ area.name }}</h5>
        <h4>{{ parent }}</h4>
        <h3>{{ children }}</h3>
        <h2>{{ features }}</h2>
        <h2>{{ styles }}</h2>
        <h1>{{ grades }}</h1>
    </body>
</html>