<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ area.name }}</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
        <script src="{% static 'routefinder/index.js' %}"></script>
    </head>
    <body>
        <header class='primary-header'>
            <div class="container">
                <h5 id="main-heading">
                    RouteFinder
                </h5>            
                <nav class="primary-nav">
                    <ul>
                        <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                        --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                    </ul>
                </nav>
                <nav class="area-nav">
                    {% for area in parent %}
                        <a href="{% url 'routefinder:area' area.id %}">
                            {% if not forloop.first %}<span> > </span> {% endif %}
                            <span>{{area.name}}<span>
                        </a>
                    {% endfor %}
                </nav>
            </div>
        </header>
        <div class="content">
            <section class="main">
                <div class="sidebar left">
                    <div class="sidebar-head">
                        <h2>{{children.1}} in {{area.name}}</h2>
                    </div>
                    <div class="sidebar-body scroll">
                        <ul class="sub-element">
                            {% if children.1 == 'Routes' %}
                                {% for child in children.0 %}
                                    <li><a href="{% url 'routefinder:route' child.id %}">{{ child.name }}</a></li>
                                {% endfor %}
                            {% elif children.1 == 'Areas' %}
                                {% for child in children.0 %}                   
                                    <li><a href="{% url 'routefinder:area' child.id %}">{{ child.name }}</a></li>
                                {% endfor %}
                            {% endif %}
                        </ul>        
                    </div>
                </div>
                <div class="main-content">
                    <div class="content-head">
                        <a href="{{area.url}}"><h4>{{area.name}}</h4></a>
                        <h1>{{rating}}/4</h1>
                    </div>
                    <div id="description">
                        <div id="area-type">
                            <h2>
                                {{area.name}} is best for 
                                {% for style in styles.index %}
                                    {% if forloop.first and forloop.last %}
                                        <span>{{style}}</span>
                                    {% elif forloop.last %}
                                        <span>and {{style}}</span>
                                    {% else %}
                                        <span>{{style}},</span>
                                    {% endif %}
                                {% endfor %}
                                routes.
                            </h2>
                        </div>
                        <div id="area-grades">
                            <div id="average-grade">
                                <div class="area-heading">
                                    <h2>
                                        A great place if you climb:
                                    </h2>
                                </div>
                                <div class="area-content clickable">
                                    {% for system, grade in grade_avg.1.items %}
                                        <h2 class="{{system}}" onclick="NextSystem(this, '{{grade_avg.0}}');">{{grade}}</h2>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="std-grade">
                                <div class="area-heading">
                                    <h2>
                                        Best if you climb at least:
                                    </h2>        
                                </div>
                                <div class="area-content clickable">
                                    {% for system, grade in grade_std.items %}
                                        <h2 class="{{system}}" onclick="NextSystem(this, '{{grade_avg.0}}');">{{grade}}</h2>
                                    {% endfor %}
                                </div>
                            </div>
                            {% if pitches > 1 or length > 1 %}
                                <div id="average-length">
                                    <div class="area-heading">
                                        <h2>
                                            The average route length is:
                                        </h2>
                                    </div>
                                    <div class="area-content">
                                        {% if pitches > 1 %}
                                            <h2>{{pitches}} pitches</h2>
                                        {% elif length > 1 %}
                                            <h2>{{length}} feet long</h2>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if area.alpine_rating is not None %}
                                <div id="average-nccs">
                                    <div class="area-heading">
                                        <h2>
                                            The average NCCS commitment level is:
                                        </h2>
                                    </div>
                                    <div class="area-content">
                                        <h2>{{area.alpine_rating}}</h2>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="terrain-images">
                        <div class="terrain-image-container">
                            <img src="{% static 'images/arete.gif' %}" class="terrain-image" style="opacity: {{terrain.arete}};" />
                            <div class="middle">
                                <div class="text">
                                    <h1>
                                        {% if terrain.arete > 0.75 %}
                                            <span>A great</span>
                                        {% elif terrain.arete > 0.5 %}
                                            <span>A good</span>
                                        {% elif terrain.arete > 0.25 %}
                                            <span>An OK</span>
                                        {% else %}
                                            <span>A bad</span>
                                        {% endif %}
                                        place for arete climbing
                                    </h1>
                                </div>
                            </div>
                        </div><!--
                        --><div class="terrain-image-container">
                            <img src="{% static 'images/slab.gif' %}" class="terrain-image" style="opacity: {{terrain.slab}};"/>
                            <div class="middle">
                                <div class="text">
                                    <h1>
                                        {% if terrain.slab > 0.75 %}
                                            <span>A great</span>
                                        {% elif terrain.slab > 0.5 %}
                                            <span>A good</span>
                                        {% elif terrain.slab > 0.25 %}
                                            <span>An OK</span>
                                        {% else %}
                                            <span>A bad</span>
                                        {% endif %}
                                        place for slab climbing
                                    </h1>
                                </div>
                            </div>
                        </div><!--
                        --><div class="terrain-image-container">
                            <img src="{% static 'images/chimney.gif' %}" class="terrain-image" style="opacity: {{terrain.chimney}};"/>
                            <div class="middle">
                                <div class="text">
                                    <h1>
                                        {% if terrain.chimney > 0.75 %}
                                            <span>A great</span>
                                        {% elif terrain.chimney > 0.5 %}
                                            <span>A good</span>
                                        {% elif terrain.chimney > 0.25 %}
                                            <span>An OK</span>
                                        {% else %}
                                            <span>A bad</span>
                                        {% endif %}
                                        place for chimney climbing
                                    </h1>
                                </div>
                            </div>
                        </div><!--
                        --><div class="terrain-image-container">
                            <img src="{% static 'images/overhang.gif' %}" class="terrain-image" style="opacity: {{terrain.overhang}};"/>
                            <div class="middle">
                                <div class="text">
                                     <h1>
                                        {% if terrain.overhang > 0.75 %}
                                            <span>A great</span>
                                        {% elif terrain.overhang > 0.5 %}
                                            <span>A good</span>
                                        {% elif terrain.overhang > 0.25 %}
                                            <span>An OK</span>
                                        {% else %}
                                            <span>A bad</span>
                                        {% endif %}
                                        place for overhang climbing
                                    </h1>
                                </div>
                            </div>
                        </div><!--
                        --><div class="terrain-image-container">
                            <img src="{% static 'images/crack.gif' %}" class="terrain-image" style="opacity: {{terrain.crack}};"/>
                            <div class="middle">
                                <div class="text">
                                    <h1>
                                        {% if terrain.crack > 0.75 %}
                                            <span>A great</span>
                                        {% elif terrain.crack > 0.5 %}
                                            <span>A good</span>
                                        {% elif terrain.crack > 0.25 %}
                                            <span>An OK</span>
                                        {% else %}
                                            <span>A bad</span>
                                        {% endif %}
                                        place for crack climbing
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
        </div>
    </body>
</html>