<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Browse</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
        <script src="{% static 'routefinder/index.js' %}"></script>
    </head>
    <body>
        <header>
            <nav class="primary-header">
                <ul>
                    <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                    --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                </ul>
            </nav>
        </header>
        Enter your name: <input type="text" id="fname" onblur="myFunction()">
        <p>When you leave the input field, a function is triggered which transforms the input text to upper case.</p>
    </body>
</html>