<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Browse</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
        <script src="{% static 'routefinder/index.js' %}"></script>
    </head>
    <body>
        <header class='primary-header'>
            <div class="container">
                <h5 id="main-heading">
                    RouteFinder
                </h5>            
                <nav class="primary-nav">
                    <ul>
                        <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                        --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="row">
            <h4 style="text-align: center; margin-bottom: 24px;">Browse By</h4>
            <a class="col image-label" href="{% url 'routefinder:style' %}">
                <img src="{% static 'images/all.png' %}" class="terrain-image" />
                <h3>Style</h3>
            </a><!--
            --><a class="col image-label"href="{% url 'routefinder:terrain' %}">
                <img src="{% static 'images/overhang.gif' %}" class="terrain-image"/>
                <h3>Terrain</h3>
            </a><!--
            --><a class="col image-label" href="{% url 'routefinder:location' %}">
                    <img src="{% static 'images/globe.png' %}" class="terrain-image"/>
                <h3>Location</h3>
            </a>
        </div>
    </body>
</html>