<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Browse</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
        <script src="{% static 'routefinder/index.js' %}"></script>
    </head>
    <body>
        <header class='primary-header'>
            <div class="container">
                <h5 id="main-heading">
                    RouteFinder
                </h5>            
                <nav class="primary-nav">
                    <ul>
                        <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                        --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="results">
            <div class="padding">
                <div id="center-col">
                    <div class='browse-head'>
                        <h3>The World's Best {{style.capitalize}} Routes</h3>
                        <div>
                            <a>
                                <h1>Go to the World's Best {{style.capitalize}} Areas</h1>
                            </a>
                        </div>
                    </div>
                    <div id="terrain-routes" class="scroll">
                        {% for route, parents in routes %}
                            <div class="route">
                                <a href="{% url 'routefinder:route' route.id %}" class="route-name">
                                    <h2>
                                        {{route.name}} ({{route.bayes}}/4)
                                    </h2>
                                </a>
                                <div class="route-details">
                                    <h2>
                                        A

                                        {% if route.pitches > 0 %}
                                            {{route.pitches}} pitches
                                        {% elif route.length > 0 %}
                                            {{route.length}}-foot long
                                        {% endif %}

                                        {% for system, grade in route.rope_grades.items %}
                                            {% if grade is not None %}
                                                <span class="{{system}}" onclick="NextSystem(this, 'rope');">
                                                    <label>{{grade}} </label>
                                                </span>
                                            {% endif %}
                                        {% endfor %}

                                        {% if route.sport is True %}
                                            Sport
                                        {% endif %}

                                        {% if route.trad is True %}
                                            Trad
                                        {% endif %}
                                        
                                        {% if route.tr is True %}
                                            Top Rope
                                        {% endif %}

                                        {% for system, grade in route.boulder_grades.items %}
                                            {% if grade is not None %}
                                                <span class="{{system}}" onclick="NextSystem(this, 'boulder');">
                                                    <label>{{grade}} </label>
                                                </span>
                                            {% endif %}
                                        {% endfor %}
                                        
                                        {% if route.boulder is True %}
                                            Boulder
                                        {% endif %}

                                        {% if route.mixed_rating is not None %}
                                            {{route.mixed_rating}} Mixed
                                        {% endif %}

                                        {% if route.aid_rating is not None %}
                                            {{route.aid_rating}} Aid
                                        {% endif %}

                                        {% if route.snow_rating is not None %}
                                            {{route.snow_rating}} Snow
                                        {% endif %}

                                        {% if route.ice_rating is not None %}
                                            {{route.ice_rating}} Ice
                                        {% endif %}

                                        {% if route.danger_conv > 0 %}
                                            ({{ route.danger_rating }})
                                        {% endif %}

                                        {% if route.nccs_conv > 0 %}
                                            (NCCS: {{route.nccs_rating }})
                                        {% endif %}

                                        route
                                    </h2>
                                    <h2>
                                        {% for area in parents %}
                                            <a href="{% url 'routefinder:area' area.id %}">
                                                {{area}}
                                            </a>
                                            {% if not forloop.last %}
                                                >
                                            {% endif %}
                                        {% endfor %}
                                    </h2>
                                </div>
                            </div>                  
                        {% endfor %}  
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
