<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
        <script src="{% static 'routefinder/index.js' %}"></script>
    </head>
    <body>
        <header class='primary-header'>
            <div class="container">
                <a href="{% url 'routefinder:search' %}">
                    <h5 id="main-heading">
                        RouteFinder
                    </h5>            
                </a>
                <nav class="primary-nav">
                    <ul>
                        <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                        --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <form method="GET" action="{% url 'routefinder:results'%}" class="search-menu">
            <div class="headings">
                <div class="style-header">
                    <h3>Climbing Styles</h3>
                </div><!--
                --><div class="preference-header">
                    <h3>Preferences</h3>
                </div>
            </div>
            <div class="inputs">
                <fieldset class="col-1-3">
                    <div class="route-style">
                        <label for="sport" id="sport-label" class="style-label">Sport
                                <input type="checkbox" id="sport" name="sport" value="True" onclick="ToggleGrade('sport');">
                            </label><!--
                            --><select name="sport-min" id="sport-min" class="grade" disabled>
                                {% for grade in rope_grades %}
                                    <option value="{{ forloop.counter0 }}">
                                        <p>{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                            </select><!--
                            --><select name="sport-max" id="sport-max" class="grade" disabled>
                            {% for grade in rope_grades %}
                                <option value="{{ forloop.counter0 }}"
                                    {% if forloop.last %}
                                        selected = "selected"
                                    {% endif %}>
                                    <p>{{ grade }}</p>
                                </option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="route-style">
                            <label for="trad" id="trad-label" class="style-label">Trad
                                    <input type="checkbox" id="trad" name="trad" value="True" onclick="ToggleGrade('trad');">
                                </label><!--
                                --><select name="trad-min" id="trad-min" class="grade" disabled>
                                    {% for grade in rope_grades %}
                                        <option value="{{ forloop.counter0 }}">
                                            <p>{{ grade }}</p>
                                        </option>
                                        {% endfor %}
                                </select><!--
                                --><select name="trad-max" id="trad-max" class="grade" disabled>
                                {% for grade in rope_grades %}
                                    <option value="{{ forloop.counter0 }}"
                                        {% if forloop.last %}
                                            selected = "selected"
                                        {% endif %}>
                                        <p>{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                                </select>
                    </div>
                    <div class="route-style">
                            <label for="tr" id="tr-label" class="style-label">Top Rope
                                    <input type="checkbox" id="tr" name="tr" value="True" onclick="ToggleGrade('tr');">
                                </label><!--
                                --><select name="tr-min" id="tr-min" class="grade" disabled>
                                    {% for grade in rope_grades %}
                                        <option value="{{ forloop.counter0 }}">
                                            <p>{{ grade }}</p>
                                        </option>
                                        {% endfor %}
                                </select><!--
                                --><select name="tr-max" id="tr-max" class="grade" disabled>
                                {% for grade in rope_grades %}
                                    <option value="{{ forloop.counter0 }}"
                                        {% if forloop.last %}
                                            selected = "selected"
                                        {% endif %}>
                                        <p>{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                                </select>
                    </div>
                    <div class="route-style">
                            <label for="boulder" id="boulder-label" class="style-label">Boulder
                                    <input type="checkbox" id="boulder" name="boulder" value="True" onclick="ToggleGrade('boulder');">
                                </label><!--
                                --><select name="boulder-min" id="boulder-min" class="grade" disabled>
                                    {% for grade in boulder_grades %}
                                        <option value="{{ forloop.counter0 }}">
                                            <p>{{ grade }}</p>
                                        </option>
                                        {% endfor %}
                                </select><!--
                                --><select name="boulder-max" id="boulder-max" class="grade" disabled>
                                {% for grade in boulder_grades %}
                                    <option value="{{ forloop.counter0 }}"
                                        {% if forloop.last %}
                                            selected = "selected"
                                        {% endif %}>
                                        <p>{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                                </select>
                    </div>
                    <div class="route-style">
                            <label for="mixed" id="mixed-label" class="style-label">Mixed
                                    <input type="checkbox" id="mixed" name="mixed" value="True" onclick="ToggleGrade('mixed');">
                                </label><!--
                                --><select name="mixed-min" id="mixed-min" class="grade" disabled>
                                    {% for grade in mixed_grades %}
                                        <option value="{{ forloop.counter0 }}">
                                            <p>{{ grade }}</p>
                                        </option>
                                        {% endfor %}
                                </select><!--
                                --><select name="mixed-max" id="mixed-max" class="grade" disabled>
                                {% for grade in mixed_grades %}
                                    <option value="{{ forloop.counter0 }}"
                                        {% if forloop.last %}
                                            selected = "selected"
                                        {% endif %}>
                                        <p>{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                                </select>
                    </div>
                    <div class="route-style">
                            <label for="aid" id="aid-label" class="style-label">Aid
                                <input type="checkbox" id="aid" name="aid" value="True" onclick="ToggleGrade('aid');">
                            </label><!--
                            --><select name="aid-min" id="aid-min" class="grade" disabled>
                                {% for grade in aid_grades %}
                                    <option value="{{ forloop.counter0 }}">
                                        <p>A{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                            </select><!--
                            --><select name="aid-max" id="aid-max" class="grade" disabled>
                            {% for grade in aid_grades %}
                                <option value="{{ forloop.counter0 }}"
                                    {% if forloop.last %}
                                        selected = "selected"
                                    {% endif %}>
                                    <p>A{{ grade }}</p>
                                </option>
                                {% endfor %}
                            </select>
                    </div>
                    <div class="route-style">
                            <label for="snow" id="snow-label" class="style-label">Snow
                                    <input type="checkbox" id="snow" name="snow" value="True" onclick="ToggleGrade('snow');">
                                </label><!--
                                --><select name="snow-min" id="snow-min" class="grade" disabled>
                                    {% for grade in snow_grades %}
                                        <option value="{{ forloop.counter0 }}">
                                            <p>{{ grade }}</p>
                                        </option>
                                        {% endfor %}
                                </select><!--
                                --><select name="snow-max" id="snow-max" class="grade" disabled>
                                {% for grade in snow_grades %}
                                    <option value="{{ forloop.counter0 }}"
                                        {% if forloop.last %}
                                            selected = "selected"
                                        {% endif %}>
                                        <p>{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                                </select>
                    </div>
                    <div class="route-style">
                            <label for="ice" id="ice-label" class="style-label">Ice
                                    <input type="checkbox" id="ice" name="ice" value="True" onclick="ToggleGrade('ice');">
                                </label><!--
                                --><select name="ice-min" id="ice-min" class="grade" disabled>
                                    {% for grade in ice_grades %}
                                        <option value="{{ forloop.counter0 }}">
                                            <p>W/A {{ grade }}</p>
                                        </option>
                                        {% endfor %}
                                </select><!--
                                --><select name="ice-max" id="ice-max" class="grade" disabled>
                                {% for grade in ice_grades %}
                                    <option value="{{ forloop.counter0 }}"
                                        {% if forloop.last %}
                                            selected = "selected"
                                        {% endif %}>
                                        <p>W/A {{ grade }}</p>
                                    </option>
                                    {% endfor %}
                                </select>
                    </div>
                </fieldset><!--
            --><fieldset class="col-1-3">
                    <fieldset id="location">
                        <input type="text" name="location" placeholder="Location" id="location-input">
                        <input type="text" pattern="\d*" name="distance" min="0" maxlength="4" id="distance-input" placeholder="Max Distance?">    
                    </fieldset>
                    <fieldset id="terrain">
                        <div id="terrain-label">
                            <h2>Terrain Types</h2>
                        </div>
                        <div>
                            {% for terrain in terrain_types %}
                            <label for="{{ terrain }}">
                                <input type="radio" id="{{ terrain }}" name="terrain-type" value="{{ terrain }}">
                                <span class="terrain-type" id="{{ terrain }}-label">
                                        {{ terrain.capitalize }}
                                </span>
                            </label>
                            </label>
                            {% endfor %}
                            <label for="no-pref" class="terrain" class="terrain-label">
                                <input type="radio" id="no-pref" name="terrain-type" value="" checked>
                                <span class="terrain-type" id="no-pref-label">
                                    None
                                </span>
                            </label>
                        </div>
                    </fieldset>
                </fieldset><!--
            --><fieldset class="col-1-3">
                    <div id="pitches">
                        <h1 id="pitch-label">
                            How many pitches?
                        </h1>
                        <select name="pitch-min" id="pitch-min">
                            {% for pitch in pitch_count %}
                                {% if forloop.first %}
                                    <option value="{{ forloop.counter0 }}">
                                        <p>
                                            Any number
                                        </p>
                                    </option>
                                {% elif forloop.last %}
                                {% else %}
                                    <option value="{{ forloop.counter0 }}">
                                        <p>
                                            At least {{ pitch }}
                                        </p>
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select><!--
                    --><select name="pitch-max" id="pitch-max">
                            {% for pitch in pitch_count %}
                                <option value="{{ forloop.counter0 }}"
                                    {% if forloop.last %}
                                        selected = "selected"
                                    {% endif %}>
                                    {% if forloop.last %}
                                        <p>
                                            up to any number
                                        </p>
                                    {% else %}
                                        <p>
                                            up to {{ pitch }}
                                        </p>
                                    {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="commitment">
                        <h1 id="commitment-label">How committed are you?</h1>
                        <select name="commitment" id="commitment-max">
                            {% for commitment_level in commitment_levels %}
                                <option value="{{ forloop.counter0 }}"
                                {% if forloop.last %}
                                    selected = "selected"
                                    {% endif %}>
                                    <p>{{ commitment_level }}</p>
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="danger">
                        <h1 id="danger-label">What's your appetite for danger?</h1>
                        <select name="danger" id="danger-max">
                            {% for danger_level in danger_levels %}
                                <option value="{{ forloop.counter0 }}"
                                    {% if forloop.last %}
                                        selected = "selected"
                                        {% endif %}>
                                    {% if forloop.first or forloop.last%}
                                        <p>
                                            {{ danger_level }}
                                        </p>
                                    {% else %}
                                        <p>
                                            {{ danger_level }} and under
                                        </p>
                                    {% endif %}
                                </option>
                                {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Find Routes" id="submit">
                </fieldset>
            </div>
        </form>
    </body>
</html>