<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
        <script src="{% static 'routefinder/index.js' %}"></script>
    </head>
    <body>
        <form method="GET" action="{% url 'routefinder:results'%}" class="search-menu">
            <div class="headings">
                <div class="style-header">
                    <h3>Climbing Styles</h3>
                </div><!--
                --><div class="preference-header">
                    <h3>Preferences</h3>
                </div>
            </div>
            <div class="inputs">
                <fieldset class="col-1-3">
                    {% for style, grades in styles.items %}
                        <div class="route-style">
                            <label for="{{ style }}" id="{{ style }}-label" class="style-label">{{ style }}
                                <input type="checkbox" id="{{ style }}" name="{{ style }}" value="True" onclick="ToggleGrade('{{ style }}');">
                            </label><!--
                            --><select name="{{ style }}-min" id="{{ style }}-min" class="grade" disabled>
                                {% for grade in grades %}
                                    <option value="{{ forloop.counter0 }}">
                                        <p>{{ grade }}</p>
                                    </option>
                                    {% endfor %}
                            </select><!--
                            --><select name="{{ style }}-max" id="{{ style }}-max" class="grade" disabled>
                            {% for grade in grades %}
                                <option value="{{ forloop.counter0 }}"
                                    {% if forloop.last %}
                                        selected = "selected"
                                    {% endif %}>
                                    <p>{{ grade }}</p>
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endfor %}
                </fieldset><!--
            --><fieldset class="col-1-3">
                    <fieldset id="location">
                        <input type="text" name="location" placeholder="Location" id="location-input">
                        <input type="text" pattern="\d*" name="distance" min="0" maxlength="4" id="distance-input" placeholder="Max Distance?">    
                    </fieldset>
                    <fieldset id="terrain">
                        <div id="terrain-label">
                            <h4>Terrain Types</h4>
                        </div>
                        <div>
                            {% for terrain in terrain_types %}
                            <label for="{{ terrain }}">
                                <input type="radio" id="{{ terrain }}" name="terrain-type" value="{{ terrain }}">
                                <span class="terrain-type" id="{{ terrain }}-label">
                                        {{ terrain.capitalize }}
                                </span>
                            </label>
                            {% endfor %}
                            <label for="no-pref" class="terrain" class="terrain-label">
                                <input type="radio" id="no-pref" name="terrain-type" value="" checked>
                                <span class="terrain-type" id="no-pref-label">
                                    None
                                </span>
                            </label>
                        </div>
                    </fieldset>
                </fieldset><!--
            --><fieldset class="col-1-3">
                    <div id="pitches">
                        <h1 id="pitch-label">
                            How many pitches?
                        </h1>
                        <select name="pitch-min" id="pitch-min">
                            {% for pitch in pitch_count %}
                                {% if forloop.first %}
                                    <option value="{{ forloop.counter0 }}">
                                        <p>
                                            Any number
                                        </p>
                                    </option>
                                {% elif forloop.last %}
                                {% else %}
                                    <option value="{{ forloop.counter0 }}">
                                        <p>
                                            At least {{ pitch }}
                                        </p>
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select><!--
                    --><select name="pitch-max" id="pitch-max">
                            {% for pitch in pitch_count %}
                                <option value="{{ forloop.counter0 }}"
                                    {% if forloop.last %}
                                        selected = "selected"
                                    {% endif %}>
                                    {% if forloop.last %}
                                        <p>
                                            up to any number
                                        </p>
                                    {% else %}
                                        <p>
                                            up to {{ pitch }}
                                        </p>
                                    {% endif %}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="commitment">
                        <h1 id="commitment-label">How committed are you?</h1>
                        <select name="commitment" id="commitment-max">
                            {% for commitment_level in commitment_levels %}
                                <option value="{{ forloop.counter0 }}"
                                {% if forloop.last %}
                                    selected = "selected"
                                    {% endif %}>
                                    <p>{{ commitment_level }}</p>
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="danger">
                        <h1 id="danger-label">What's your appetite for danger?</h1>
                        <select name="danger" id="danger-max">
                            {% for danger_level in danger_levels %}
                                <option value="{{ forloop.counter0 }}"
                                    {% if forloop.last %}
                                        selected = "selected"
                                        {% endif %}>
                                    {% if forloop.first or forloop.last%}
                                        <p>
                                            {{ danger_level }}
                                        </p>
                                    {% else %}
                                        <p>
                                            {{ danger_level }} and under
                                        </p>
                                    {% endif %}
                                </option>
                                {% endfor %}
                        </select>
                    </div>
                    <input type="submit" value="Find Routes" id="submit">
                </fieldset>
            </div>
        </form>
        <footer>
            <nav class="primary-footer">
                <ul>
                    <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                    --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>