<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ route_name }}</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
    </head>
    <body>
        <section>
            <h5>{{ route_name }}</h5>
            <a href={{ url }}>Link</a>
            <h4>{{ terrain }}</h4>
            <section>
                <h3>Other Routes in this Area</h3>
                <ul>
                    {% for route in area_routes %}
                        <li><a href="{% url 'routefinder:route' route.id %}">{{ route.name }}</a></li>
                        {% endfor %}
                </ul>
            </section>
            <section>
                <h3>Other Similar Routes Nearby</h3>
                <ul>
                    {% for route in similar_routes %}
                        <li><a href="{% url 'routefinder:route' route.id %}">{{ route.name }}</a></li>
                        {% endfor %}
                </ul>
            </section>

        </section>
    </body>
