<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ route.name }}</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
    </head>
    <body>
        <header class="primary-header">
            <nav class="area-nav">

            </nav>
        </header>
        <section class="main">
            <div id="area-routes">

            </div>
            <div class="container" id="route-info">
                <div id="route-text">
                    {{grades}}
                    {% for system in grades %}
                        {% if system in sport_systems %}
                            <label for="{{ system }}">
                                <input type="radio" id="{{ system }}" name="rope-systems" value="{{ system }}"
                                    {% if forloop.first %}
                                        checked="checked"
                                    {% endif %}>
                                <span class="rope-type" id="{{ system }}-label">
                                    {{ system }}
                                </span>
                            </label>
                        {% elif system in boulder_systems %}
                        <label for="{{ system }}">
                            <input type="radio" id="{{ system }}" name="boulder-systems" value="{{ system }}"
                            {% if forloop.first %}
                                checked="checked"
                            {% endif %}>
                            <span class="boulder-type" id="{{ system }}-label">
                                {{ system }}
                            </span>
                        </label>
                        {% endif %}
                    {% endfor %}
                    {% for style in styles %}
                        {{style}}
                    {% endfor %}
                </div>
                <div id="terrain-graph">

                </div>
                <div id="map">

                </div>
            </div>
            <div id="similar-routes">

            </div>
        </section>
        <footer>
            <nav class="primary-footer">
                <ul>
                    <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                    --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>