<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
    </head>
    <body>
        <form method="GET">
            <div id="styles">
                {% for style in styles.keys %}
                    <input type="checkbox" id="{{ style }}" value="True" onclick="climbing_style_handler(this)">{{ style }}<br>
                    {% endfor %}
            </div>
            {% for style, grades in styles.items %}
                <div id="{{ style }}">
                    <select>
                        {% for grade in grades %}
                            <option value="{{ grade }}">{{ grade }}</option>
                            {% endfor %}
                    </select>
                    <select>
                        {% for grade in grades %}
                            <option value="{{ grade }}">{{ grade }}</option>
                            {% endfor %}
                    </select>
                </div>
                {% endfor %}
            <input type="submit">
        </form>
        <!-- <script src="{% static search.js %}"></script> -->
    </body>
</html>