<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Browse</title>
        <link rel='stylesheet' type="text/css" href="{% static 'routefinder/style.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
        <script src="{% static 'routefinder/index.js' %}"></script>
    </head>
    <body>
        <header class='primary-header'>
            <div class="container">
                <h5 id="main-heading">
                    RouteFinder
                </h5>            
                <nav class="primary-nav">
                    <ul>
                        <li><a href="{% url 'routefinder:search' %}">Search</a></li><!--
                        --><li><a href="{% url 'routefinder:browse' %}">Browse</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="results">
                <div class="padding">
                </div>
            </div>
        </div>
    </body>
</html>