/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
    display: block;
}



/* Colors */

/* body {
    --background: #d8c1a3;
    --primary: #90857c;
    --secondary: #a6abaf;
    --secondary-alt: #d8c1a3;
    --highlight: #bc5c2c;
} */

body {
    --background: #cadcf0;
    --primary: #4f3c2c;
    --secondary: #a48966;
    --secondary-alt: #bd9e78;
    --highlight: #87a8d9;
}

/* Text */

p, h1, h2, h3, h4, h5, a, label, input, span {
    font: 300 16px/20px "Noto Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Containers */

.col-1-3 {
    width: 30%;
    height: 100%;
    float: left;
    vertical-align: top;
    margin: 0 1.5%;
}

/* Body */

body {
    background-color: var(--background);
}

.main {
    height: 84vh;
    width: 100vw;
}

/* Header */
.primary-header {
    height: 6vh;
    width: 100%;
}

/* Footer */

.primary-footer {
    margin-top: 6vh;
    width: 100%;
    height : 6vh;
    position : fixed;
    bottom : 0;
}

.primary-footer ul{
    list-style: none;
    margin: 12px auto;
    text-align: center;
}

.primary-footer li {
    display: inline;
    padding: 10px;
}

/* Navigation */
.area-nav {
    height: 4vh;
    margin: 4vh 12px;
}

/* Search Page */

.search-menu {
    width: 960px;
    height: 450px;
    margin: 96px auto 12px auto;
    padding: 24px;
    background-color: var(--primary);
    border-radius: 15px;
}

/* Forms */
/* Inputs */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number],
input[type='submit'],
input[type=text],
.scroll::-webkit-scrollbar-thumb {
    height: 36px;
}

input[type=number],
input[type=text] {
    padding: 0;
    border: 0;
}

input[type=button],
input[type=submit] {
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-align: center;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type=radio],
input[type="checkbox"] {
    display: none;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type='submit'] {
    width: 140px;
    margin: 30px auto;
    padding: 4px;
}

.scroll {
    overflow: hidden;
    overflow-y: auto;
    /* scrollbar-color: #575555 #677e91; */
    scrollbar-width: thin;
}

.scroll::-webkit-scrollbar-track  {
    /* background-color: #677e91; */
}

.scroll::-webkit-scrollbar-thumb {
    /* background-color: #575555; */
}

/* Input Labels */

.headings {
    height: 10%
}

.inputs {
    height: 90%;
}

.style-header,
.preference-header {
    height: 100%;
    border-radius: 10px;
}

.style-header {
    width: 33%;
    float: left;
}

.preference-header {
    width: 66%;
    float: right;
}

.preference-header, 
.style-header {
    margin-bottom: 6px;
}

.route-style {
    height: 9%;
    border-radius: 10px;
    padding: 0.5% 0;
}

.style-header h3,
.preference-header h3,
.grade,
.style-label {
    position: relative;
    top: 20%;
    text-align: center;
}

.route-style {
    margin: 3% auto;
}

.route-style:nth-child(even),
#terrain {
    background-color: var(--secondary);
}

.route-style:nth-child(odd),
.style-header,
.preference-header,
#location {
    background-color: var(--secondary-alt);
}

.style-label,
.grade,
#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    display: inline-block;
    padding: 2px 0 ;
}

.style-label {
    width: 30%;
    margin: 0 8%;
}

.grade,
#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    margin: 0 2.5%;
}

.grade {
    width: 20%;
}

.style-label,
.terrain-type,
.grade,
#submit,
#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: .4s;
    background: var(--highlight);
    color: white;
}

.terrain-type {
    margin: 8px 12px;
    width: 72px;
    padding: 4px 8px;
    display: inline-block;
}

#location {
    height: 31%;
}

#terrain {
    height: 50%;
}

#location,
#terrain,
#terrain div {
    width: 90%;
    margin: 6% auto;
    border-radius: 10px;
}

#terrain div {
    text-align: center;
}

#user-location,
#user-distance {
    height: 50%;
}

#distance-input, 
#location-input {
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 5%;
    border-radius: 5px;
}

input:checked + .terrain-type,
input:checked + .boulder-type,
input:checked + .rope-type,
.terrain-type:hover,
.style-label:hover,
#submit:hover {
    background: var(--highlight);
}

#pitches,
#commitment,
#danger,
#submit {
    height: 20%;
    width: 90%;
    margin: 3% 5% 5% 5%;
    border-radius: 10px;
}

#pitches,
#danger {
    background: var(--secondary);
}

#commitment {
    background: var(--secondary-alt);
}

#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    text-align: center;
}


#pitch-label,
#commitment-label,
#danger-label,
#terrain-label {
    line-height: 200%;
    text-align: center;
}

#pitch-max,
#pitch-min {
    width: 45%;
    margin: 0 2.5%;
    display: inline-block;
}

#danger-max,
#commitment-max {
    display: block;
    width: 152px;
    margin: auto;
}

/* Routes Page */

#area-routes {
    float:left;
    height: 100%;
    width: 25vw;
}

#similar-routes {
    float:left;
    height: 100%;
    width: 25vw;
}

#route-info {
    float:left;
}

#area-routes-title {
    height: 48px;
    min-height: 48px;
    margin-top: 12px;
    overflow: auto;
    width: 85%;
    margin: 24px auto;
}

#similar-routes-title {
    height: 48px;
    min-height: 48px;
    margin-top: 12px;
    overflow: auto;
    width: 85%;
    margin: 24px auto;

}

#area-routes-list {
    width: 85%;
    margin: 24px auto;
    height: 440px;
}

#similar-routes-list {
    width: 85%;
    margin: 24px auto;
    height: 440px;
}


#route-info {
    width: 50vw;
    height: 100%;
}

#route-text {
    position: relative;
    height: 25%;
    margin: 2% 5%;
    float: top; 
}

.terrain-image-container {
    position: relative;
    float: left;
    width: 18%;
    height: auto;
    margin: 1%;
}

.terrain-image-container:hover .terrain-image {
    opacity: 0.65 !important;
}
  
.terrain-image-container:hover .middle {
    opacity: 0.8;
}


#terrain-images {
    height: 25%;
    margin: 2% 5%;
    float: top; 
    display: inline-block;
    position: relative;
    width: 90%;
}

.terrain-image {
    display: block;
    width: 100%;
    height: auto;
    border: 1px;
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    width: 100%;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#map {
    margin: 2% 5%;
    float: top; 
}

.text {
    /* background-color: #677e91; */
    width: calc(100% - 8px);
    opacity: 1;
    height: auto;
    padding: 6px 0;
    border: 4px solid #384856;
}

.rope-grades,
.boulder-grades {
    display: none;
}

#YDS,
#Hueco {
    display: inline;
}

#route-name {
    text-align: center;
    margin: auto;
}

#route-data {
    text-align: center;
    margin: auto;
}


/* Results */

#results,
.route {
    border: 1px solid green;
}

#results {
    width: 1200px;
    min-height: 400px;
}

#center-col {
    width: 640px;
    margin-left: 150px;
}

.route {
    height: 96px;
    padding-left: 20px;
}

.route-name,
.route-information,
#center-col {
    border: 1px solid red;
}
.route-name {
    height: 30px;
}

.route-information {
    height: 60px;
}

.french_rating,
.ewbanks_rating,
.uiaa_rating,
.za_rating,
.british_rating,
.font_rating {
    display: none;
}
