/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
    display: block;
}



/* Colors */
body {
    --primary-background: #C7CCD9;
    --secondary-background: #717e9b;
    --main-container-color: white;
    --secondary-container-color: #dbc7ad;
    --button-primary: #ac642c;
    --button-secondary: #B06D38;
    --button-highlight: #BD885B;
    --button-light: #CAA37E;
    --highlight: #D4301C;
    --highlight-mid: #C04A24;
    --header-main: #26252c;
    --header-secondary: #90857c
}

/* Text */

p, h1, h2, h3, h4, h5, a, label, input {
    font-family: "Raleway", sans-serif;
}

a {

}

p {

}
h1 {

}

input[type="text"],
a,
h2 {
    font-size: 18px;
    line-height: 22px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 48px;
    line-height: 60px
}

h5 {
    font-size: 60px;
}


/* Colors */



/* Body */

body {
    background: radial-gradient(var(--secondary-background), var(--primary-background));
}

/* Containers */

.col-1-3 {
    width: 30%;
    height: calc(100% - 24px);
    float: left;
    vertical-align: top;
    margin: 0 1.5%;
}

.container {
    display: inline;
    min-width: 400px;
}

.primary-header {
    width: 100%;
    height: 70px;
    min-width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;    
}

.primary-header ul{
    list-style: none;
}

.primary-header li {
    display: inline;
    padding-right: 48px;
}

#main-heading {
    float: left;
    margin-top: 4px;
    padding: 12px 64px 6px 10%;
}

.primary-nav {
    float: right;
    text-align: right;
    padding: 0 12px;
    margin-top: 36px;
}

/* Navigation */
.area-nav {
    margin: 36px auto;
    width: 100%;
    min-width: 600px;
}

/* Search Page */

.search-menu {
    width: 1008px;
    height: 498px;
    margin: 96px auto 12px auto;
    border-radius: 15px;
    background: linear-gradient(var(--main-container-color), var(--secondary-container-color));
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

/* Forms */
/* Inputs */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number],
input[type='submit'],
input[type=text],
.scroll::-webkit-scrollbar-thumb {
    height: 36px;
}

input[type=number],
input[type=text] {
    padding: 0;
    border: 0;
}

input[type=submit] {
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-align: center;
    -webkit-transition: .4s;
    transition: .4s;
}

input[type=radio],
input[type="checkbox"] {
    display: none;
}

input[type=number] {
    -moz-appearance: textfield; /* Firefox */
}

input[type='submit'] {
    width: 140px;
    margin: 30px auto;
    padding: 4px;
}

.scroll::-webkit-scrollbar-track  {
    background-color: #677e91;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #575555;
}

/* Input Labels */

.headings {
    height: 10%;
}

.inputs {
    height: 90%;
}

.style-header,
.preference-header {
    height: 100%;
    border-radius: 10px;
}

.style-header {
    width: 33%;
    float: left;
}

.preference-header {
    width: 66%;
    float: right;
}

.preference-header, 
.style-header {
    margin-bottom: 6px;
}

.route-style {
    height: 9%;
    border-radius: 10px;
    padding: 0.5% 0;
}

.style-header,
.preference-header,
.grade,
.style-label {
    position: relative;
    top: 20%;
    text-align: center;
}

.route-style {
    margin: 3% auto;
}

.style-label,
.grade,
#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    display: inline-block;
    padding: 2px 0 ;
}

.style-label,
.terrain-type {
    width: 30%;
    height: 24px;
    margin: 0 8%;
    line-height: 24px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    background: var(--button-primary);
}

#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    margin: 0 2.5%;
}

.grade {
    width: 25%;
}

.style-label,
.terrain-type,
.sort-method,
.grade,
#sort,
#submit,
#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    -webkit-transition: .4s;
}

#submit {
    font-size: 24px;
    background: var(--button-primary);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.terrain-type,
.sort-method {
    margin: 8px 12px;
    width: 72px;
    display: inline-block;
}

#location {
    height: 31%;
}

#terrain {
    height: 50%;
}

#location,
#terrain,
#terrain div {
    width: 90%;
    margin: 6% auto;
    border-radius: 10px;
}

#terrain div {
    text-align: center;
}

#user-location,
#user-distance {
    height: 50%;
}

#distance-input, 
#location-input {
    display: inline-block;
    text-align: center;
    width: 90%;
    margin: 5%;
    border-radius: 5px;
}

input:checked + .terrain-type,
input:checked + .sort-method,
input:checked + .boulder-type,
input:checked + .rope-type {
    background: var(--highlight);
}

.rope-type:hover,
.boulder-type:hover,
.terrain-type:hover,
.sort-method:hover,
.style-label:hover,
#sort:hover,
#submit:hover {
    background: var(--highlight-mid);
}

#pitches,
#commitment,
#danger {
    height: 20%;
    width: 90%;
    margin: 3% 5% 5% 5%;
    border-radius: 10px;
}

#submit {
    width: 90%;
    margin: 3% 5% 5% 5%;
    border-radius: 10px;
}


#pitch-max,
#pitch-min,
#danger-max,
#commitment-max {
    text-align: center;
}


#pitch-label,
#commitment-label,
#danger-label,
#terrain-label {
    line-height: 200%;
    text-align: center;
}

#pitch-max,
#pitch-min {
    width: 45%;
    margin: 0 2.5%;
    display: inline-block;
}

#danger-max,
#commitment-max {
    display: block;
    width: 160px;
    margin: auto;
}

/* Routes Page */

.main {
    min-height: 48px;
}
.sidebar {
    height: 450px;
    margin-top: 24px;
}

.scroll {
    overflow: hidden;
    overflow-y: auto;
    scrollbar-color: var(--highlight) var(--highlight-mid);
    scrollbar-width: thin;
}

.content {
    height: calc(100% - 70px);
}

.main {
    width: 1300px;
    height: 100%;
    padding-top: 28px;
    margin: 70px auto 0 auto;
    display: table;
}

.left, 
.main-content {
    float: left;
}

.right {
    float: right;
}

.main-content {
    margin: 50px;
    width: 600px;
    border-radius: 10px;
    padding-bottom: 24px;
}

.sidebar,
.main-content {
    background: linear-gradient(var(--main-container-color), var(--secondary-container-color));
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.sidebar {
    width: 300px;
    border-radius: 10px;
}

.sidebar-body {
    height: calc(100vh - 250px);
    margin-top: 12px;
}

.sub-element {
    padding: 0 0 10px 24px;
}

.content-head,
.sidebar-head,
.headings {
    padding: 12px 0;
    margin: 0 auto;
    text-align: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border-bottom: 3px solid var(--highlight);
}

.clickable {
    text-decoration-line: underline var(--highlight);
}

#terrain-images,
#description {
    margin: auto;
    float: top; 
    position: relative;
    width: 90%;
    overflow: auto;
}

.terrain-image-container {
    position: relative;
    float: left;
    width: 18%;
    height: auto;
    margin: 24px 1%;
}

.terrain-image-container:hover .terrain-image {
    opacity: 0.65 !important;
}
  
.terrain-image-container:hover .middle {
    opacity: 0.8;
}

.terrain-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;
    -moz-box-shadow:
        0px 2px 2px rgba(000,000,000,0.5),
        inset 2px 4px 0px rgba(255,255,255,0.4);
    -webkit-box-shadow:
        0px 2px 2px rgba(000,000,000,0.5),
        inset 2px 4px 0px rgba(255,255,255,0.4);
    box-shadow:
        0px 2px 2px rgba(000,000,000,0.5),
        inset 2px 4px 0px rgba(255,255,255,0.4);
}

.middle {
    transition: .5s ease;
    width: 100%;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text {
    width: calc(100% - 8px);
    opacity: 1;
    height: auto;
    padding: 6px 0;
    border: 4px solid #384856;
}

#grade-buttons {
    text-align: center;
    margin: auto;
}

.rope-type,
.boulder-type {
    padding: 4px;
    margin: 0 6px;
    border-radius: 5px;
}

/* Results */

#results {
    width: 1200px;
    min-height: 400px;
    margin-top: 60px
}

#filters,
#center-col {
    width: 800px;
    margin-left: 140px;
}

#filters {
    min-height: 48px;
    margin-top: 48px;
    padding-top: 16px;
}

.route {
    height: 96px;
}

.route-name {
    height: 30px;
}

.main-information {
    height: 60px;
}

.french_rating,
.ewbanks_rating,
.uiaa_rating,
.za_rating,
.british_rating,
.font_rating {
    display: none;
}


#terrain-images {
    overflow: auto;
}

#average-grade,
#std-grade,
#average-length,
#average-nccs {
    width: calc(100% - 2px);
}

#description {
    margin: 12px auto;
    text-align: center;
}
#area-type {
    text-align: center;
    margin-bottom: 8px;
}

.area-heading {
    text-align: right;
}
.area-content,
.area-heading {
    width: calc(50% - 2px);
}

.area-heading,
.area-content {
    float: left;
}

.area-content {
    text-align: center;
}


